body{
    background-color: black;
    color: chartreuse;
}

h1 {
  margin-top: 5%;
  margin-left: 40%;
color: chartreuse;
}

.display-board {
    border: 2px solid chartreuse;
}

h2 {
    margin-top: 2%;
    margin-left: 37%;
    color: chartreuse;
}


.players {
    border: 5px solid crimson;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#playerx {
    margin: 10px;
    padding: 25px;
    background-color: chartreuse;
    border: 2px solid lightskyblue;
}

#playerx:active{
    transform: translateY(2px);
}

#playero {
    margin: 10px;
    padding: 25px;
    background-color: chartreuse;
    border: 1px solid lightskyblue;
}

#playero:active{
    transform: translateY(2px);
}


h4 {
    margin-top: 1%;
    margin-left: 44%;
    color: chartreuse;
}

h3 {
    margin-top: -1%;
    margin-left: 34%;
    color: chartreuse;
}


.resetbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
   

#reset {
    /* margin-left: 25%;
    margin-right: 50; */
   margin-top: 5%;
    background-color: chartreuse;
    border: 2px solid lightskyblue;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

}

#reset:active{
    transform: translateY(2px);
}


/* Tic Tac Tow board CSS */
.board{
    margin-top: 20%;
    font-family: 'Nunito', sans-serif;
    font-size: xx-large;
    
}


.row1 {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    border: 2px solid  white;
}


#row1-col1{
    margin: 10px;
    /* border: 2px solid blueviolet; */
    padding: 25px;
    background-color: chartreuse;
    
}
#row1-col1:active {
    transform: translateY(2px);
}

#row1-col2{
    margin: 10px;
    /* border: 2px solid blueviolet; */
    padding: 25px;
    background-color: chartreuse;
}
#row1-col2:active {
    transform: translateY(2px);
}

#row1-col3{
    margin: 10px;
    /* border: 2px solid blueviolet; */
    padding: 25px;
    background-color: chartreuse;
}
#row1-col3:active {
    transform: translateY(2px);
}


.row2{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    border: 2px solid white;
}

#row2-col1{
    margin: 10px;
    /* border: 2px solid blueviolet; */
    padding: 25px;
    background-color: chartreuse;
}
#row2-col1:active {
    transform: translateY(2px);
}

#row2-col2{
    margin: 10px;
    /* border: 2px solid blueviolet; */
    padding: 25px;
    background-color: chartreuse;
}
#row2-col2:active {
    transform: translateY(2px);
}

#row2-col3{
    margin: 10px;
    /* border: 2px solid blueviolet; */
    padding: 25px;
    background-color: chartreuse;
}
#row2-col3:active {
    transform: translateY(2px);
}

.row3{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    border: 2px solid white ;
}

#row3-col1{
    margin: 10px;
    /* border: 2px solid blueviolet; */
    padding: 25px;
    background-color: chartreuse;
}
#row3-col1:active {
    transform: translateY(2px);
}

#row3-col2{
    margin: 10px;
    /* border: 2px solid blueviolet; */
    padding: 25px;
    background-color: chartreuse;
}
#row3-col2:active {
    transform: translateY(2px);
}

#row3-col3{
    margin: 10px;
    /* border: 2px solid blueviolet; */
    padding: 25px;
    background-color: chartreuse;
}
#row3-col3:active {
    transform: translateY(2px);
}